@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Open+Sans:wght@300&family=PT+Sans&family=Pangolin&family=Roboto&display=swap');

/* Style for the index page*/
body {
    font-family: Pangolin, Open Sans;
    margin: 0;
    padding: 0;
    border: none;
    overflow-x: hidden;
    background: url('../images/math-transparent-background-1.png') no-repeat center;
    background-size: 100%;
    background-color: #20433e;
    background-blend-mode: multiply;
    font-size: large;
    color: #fff;
}

.heading {
    font-family: Roboto, PT Sans;
    text-decoration: underline;
    text-align: center;
}

.text-box {
    width: 75%;
    height: auto;
    margin: 0 auto 3em;
    padding: 1em 0 1em;
    border: 2px solid #000000;
    background-color: #31343A;
    text-align: center;
    font-size: larger;
}

.score {
    display: inline-block;
    margin: 0 100px;
    font-weight: bold;
}

.score_correct {
    color: #59EB35;
}

.score_incorrect {
    color: #FD7E79;
}

#answer {
    display: inline-block;
    height: 35px;
    width: 50px;
    font-size: larger;
}

.answer-text {
    width: 40px;
    display: inline-block;
}

.equation-box {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 200px;
    font-family: Kalam, Pangolin, Open Sans;
}

.equation {
    margin-bottom: 1em;
}

#footer {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    margin-top: 100px;
}

.button {
    font-weight: bold;
    font-size: large;
    background-color: #20433e;
    color: #FFFFFF;
    border:#000000 solid 2px;
    font-family: Pangolin, Open Sans;
    letter-spacing: 0.1em;
}

.newEquation{
    height: 60px;
    width: 200px;
    margin-bottom: 1em;
}

.newEquation:hover{
    text-decoration: underline;
}

#submit {
    height: 60px;
    width: 120px;
    margin-top: 1em;
}

#submit:hover {
    text-decoration: underline;
}

#hint {
    height: 60px;
    width: 120px;
    margin-top: 1em;
}

#hint:hover {
    text-decoration: underline;
}

/*Media queries*/

@media (max-width: 1100px) {

    body {
        background-size: 150%;
    }

}

@media (max-width: 700px) {

    body {
        background-size: 200%; 
    }

}

@media (max-width: 550px) {

    body {
        background-size: 250%; 
    }

}

@media (max-width: 390px) {

    body {
        background-size: 300%; 
    }

}

@media (max-width: 350px) {

    .text-box {
        width: 100%;
    }

}